@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-green {
  background-color: #00a859;
  color: #fff;
}

.select-status-selected {
  background-color: green;
}

.select-status-focused:focus {
  background-color: yellow;
}
